<div class="container col-sm-6 my-4">
  <form class="d-flex">
    <input class="form-control me-2" type="url" placeholder="http://..." id="url-input" aria-label="shortUrl"> 
    <a href="/new"><button class="btn btn-info" type="submit">Shorten</button></a>
  </form>
  </div>



